{{!-- Ocultar Mostrar Contraseña --}}

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {

    const hideShowPassWord = document.getElementById("MostrarOcultarPassword"),
      password = document.getElementById("txtpassword");

    hideShowPassWord.addEventListener("click", () => {
      if (password.type === "password") {

        hideShowPassWord.innerHTML = `<i class="fas fa-eye-slash"></i>`;
        password.type = "text";
      } else {
        password.type = "password";
        var Estado = hideShowPassWord.innerHTML = `<i class='fas fa-eye'></i>`;
      }
    });
  });
</script>

<head>

  <title>Login</title>

</head>

<body class="authentication-bg authentication-bg-pattern">
  <div class="container px-4 py-5 mx-auto">
    <div class="card card0">
      <div class="d-flex flex-lg-row flex-column-reverse">

        <div class="card card1">
          <div class="row justify-content-center my-auto px-4">
            <div class="col-md-12 col-10">

              {{> message }} 

              <div class="text-center w-75 m-auto">
                <center><img height="180" src="img/logo/logo.png" alt="Responsive image" /></center>
              </div>

              <h6 class="msg-info">Por favor, ingrese a su cuenta</h6>

              <form action="/Login" method="POST">
                <div class="form-group">
                  <label class="form-control-label text-muted">Username</label>
                  <input type="text" id="txtusuario" name="username" placeholder="" onkeyup="mayus(this);" class="form-control" required>
                </div>

                <div class="form-group">
                  <label class="form-control-label text-muted">Password</label>
                  <div class="input-group">
                    <input type="password" id="txtpassword" name="password" placeholder="" onkeyup="mayus(this);"
                      class="form-control" required>
                    <div class="input-group-prepend">
                      <span class="input-group-text MostrarOcultarPassword" id="MostrarOcultarPassword"><i
                          class="fas   fa-eye-slash"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row justify-content-center px-3 py-3">
                  <button class="btn-block btn-color">Ingresar</button>
                </div>
                <div class="login_btn_wrapper">
                </div>
                <div class="row mt-3">
                  <div class="col-12 text-center">
                    <p class="text-muted">-- AprendeYa --</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="card card2">
          <div class="my-auto mx-md-5 px-md-5 right">
            <h3 class="text-white">Somos más que una academia</h3>
            <small class="text-white">
              Bienvenidos a AprendeYa, la plataforma líder en educación en línea. Nuestro objetivo es brindar acceso a
              la educación de calidad a cualquier persona en cualquier lugar del mundo. Ofrecemos una amplia variedad de
              cursos en línea impartidos por expertos en la materia para ayudarte a alcanzar tus objetivos educativos y
              profesionales.
            </small>
          </div>
        </div>

      </div>
    </div>
  </div>  
</body>