<!-- Listado Estados -->
<datalist id="crud_Estado_Usuarios">
    <option value="Activo">Usuario Activo</option>
    <option value="Inactivo">Usuario Inactivo</option>
</datalist>
<!-- end Listado Estados -->

<!-- Listado Estados -->
<datalist id="crud_Estado_Cursos">
    <option value="Activo">Curso Activo</option>
    <option value="Inactivo">Curso Inactivo</option>
</datalist>
<!-- end Listado Estados -->

<!-- Listado Estados -->
<datalist id="crud_Estado_Estudiante">
    <option value="Activo">Estudiante Activo</option>
    <option value="Inactivo">Estudiante Inactivo</option>
</datalist>
<!-- end Listado Estados -->

<!-- Roles internos -->
<datalist id="crud_rol_internos">
    <option value="Administrador">Administrador</option>
    <option value="Gestor">Gestor</option>
</datalist>
<!-- Fin Roles internos -->
